<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація - Kindhelp</title>
    <link rel="stylesheet" href="../../static/css/sign_app_two.css">
</head>
<body>
    <div class="login-container">
        <a href="{% url 'home' %}" class="back-link">← Повернутися на головну сторінку</a>
        
        <div class="login-box">
            <div class="logo-container">
                <img src="../../static/img/logo.png" alt="Kindhelp Logo" class="logo">
            </div>
            
            <form class="login-form">
                <div class="form-group">
                    <label for="password">Новий пароль</label>
                    <input type="password" id="password" placeholder="Новий пароль" required>
                </div>
                
                <div class="form-group">
                    <label for="new_pass">Повторіть пароль</label>
                    <input type="text" id="password_new" placeholder="Повторіть пароль" required>
                </div>
                <button type="submit" class="login-btn">Продовжити</button>
            </form>
            
        </div>
    </div>
</body>
</html>